@{
    ViewBag.Title = "Tips";
    Layout = "~/Views/Common/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
    <body>
        <div class="container">
            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="hero-unit">
                <h1>Here are my latest Tips</h1>
                <p> I am human and I bake once in a while.
                    You will find my tips on baking and new techniques to bake. 
                    I might share my world views once in a while.
                </p>
                <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
            </div>
        </div>

    </body>
</html>

       




