@{
    ViewBag.Title = "About Me";
    Layout = "~/Views/Common/Layout.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>About Me</title>
    </head>

        <body>
        
            <div class="container">
            
                <div class="row">
                    <div class="span8 offset1" >
                        <br/>
                        <br/>
                    </div>
                </div>
            
                <div class="row">
                    <div class="span8 offset1" >
                        <h1>Hello I am PuriTheBaker</h1>
                    </div>
                </div>

                <hr/>
                
                <div class="row">
                
                    <div class="span4 ">
                        <p>I am currently baking.</p>
                    </div>

                    <div class="span4 ">
                        <p>Like me on facebook here</p>
                    </div>

                    <div class="span4 ">
                        <p>Follow me on twitter here</p>
                    </div>

                </div>

            </div>

        </body>
    </html>
