@{
    Layout = "~/Views/Common/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
    <body>
        <div class="container">
            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="hero-unit">
                <h1>Welcome to PuriTheBaker</h1>
                <p> I am human and I bake once in a while.
                    You will find my tips on baking and new techniques to bake. 
                    I might share my world views once in a while.
                </p>
                <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
            </div>
        </div>
        
        <div class="container">
        
        <!-- Example row of columns -->
        <div class="row">
            <div class="span4">
                <h2>In my head</h2>
                <p>I have no idea on how to cook, so baking it is.</p>
                <p><a class="btn-large" href="#">Tweets &raquo;</a></p>
                <p><a class="btn-large" href="#">FacebookStatus &raquo;</a></p>
            </div>
            <div class="span4">
                <h2>Top Tips</h2>
                <p>I am currently thinking please do not disturb.</p>
                <p><a class="btn-large" href="#">View details &raquo;</a></p>
            </div>
            <div class="span4">
                <h2>Top Reviews</h2>
                <p>I think Gloria Jeans ROCKS!!</p>
                <p><a class="btn-large" href="#">View details &raquo;</a></p>
            </div>
        </div>

        <hr>
        </div> <!-- /container -->

    </body>
</html>
